<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shopping application</title>
    <meta name="description" content="Shopping application">
    <meta name="author" content="Jenny Potts">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/partials/item.css">
    <link rel="stylesheet" href="static/styles/partials/basket.css">
</head>
<body>
<header>
    {% include 'partials/header.html' %}
</header>
<main class="m-auto pt-5">
    <div class="row">
        <div class="col-8 d-flex flex-row-reverse flex-wrap justify-content-around">
            {% for item in items %}
                {% include 'partials/item.html' %}
            {% endfor %}
        </div>
        <div class="col-4">
            {% include 'partials/basket.html' %}
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>